.text{
    margin: 2px;
    font-size: 20px;
   color: purple;
}
 .flex-container{
    display: flex;
    justify-content: left;
} 
.flex-container1{
    display: flex;
    justify-content: right; 
    margin: 0px;
} 
.flex {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
